.main{
    display: grid; 
    grid-template-columns: repeat(12,1fr); /* 12等分欄位 */
    column-gap:var(--gap-horizontal); /*左右間隔*/
}

.main .left-area{
    display: grid;
    grid-column:span 9; /* 佔9欄 */
    grid-template-columns: repeat(12,1fr); /* 12等分欄位 */
    column-gap:var(--gap-horizontal); /*左右間隔*/
    row-gap: var(--gap-vertical); /*上下間隔*/
}

.main .right-area{
    grid-column:span 3; /* 佔3欄 */
}

.main .left-area .top-left{
    grid-column:span 8; /* 佔8欄 */
}

.main .left-area .top-right{
    grid-column:span 4; /* 佔4欄 */
}

.main .left-area .bottom-left{
    grid-column:span 4; /* 佔4欄 */
}

.main .left-area .bottom-right{
    grid-column:span 8; /* 佔8欄 */
}