.main{
    grid-template-columns: repeat(12,1fr); /* 12等分欄位 */
    column-gap:var(--gap-horizontal); /*左右間隔*/
}

.main .leftaria{
    grid-column:span 9; /* 佔8欄 */
    grid-template-columns: repeat(12,1fr); /* 12等分欄位 */
    column-gap:var(--gap-horizontal); /*左右間隔*/
    row-gap: var(--gap-vertical); /*上下間隔*/
}

.main .rightaria{
    grid-column:span 3; /* 佔4欄 */
}

.main .leftaria .l-lefttop{
    grid-column:span 8; /* 佔8欄 */
}

.main .leftaria .l-righttop{
    grid-column:span 4; /* 佔4欄 */
}

.main .leftaria .l-leftbottom{
    grid-column:span 4; /* 佔4欄 */
}

.main .leftaria .l-rightbottom{
    grid-column:span 8; /* 佔8欄 */
}